* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.main-title {
    font-size: 62px;
    font-family: sans-serif;
    font-weight: 15500;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;
}

.header__nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
}

.header__nav a:hover {
    background-color: gold;
    color: black;
    text-decoration: underline;
}

.pricing {
    display: flex;
    gap: 20px;
}

.pricing-plan {
    flex: 1;
    background-color: #1f262c;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 12px black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.pricing-plan__title {
    text-transform: uppercase;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.pricing-plan span {
    font-size: 34px;
}

.pricing-plan p {
    margin-top: 10px;
}

.pricing-plan__features {
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 15px;
    line-height: 1.8;
    flex: 1;
}

.pricing-plan__features li::marker{
    color: yellow;  /*cor da bola da lista*/
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: yellow;
    border-radius: 6px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: black;
    color: white;
}